<div id="main" class="main-site-content container-fluid p-0 flex-grow-1">
    <div class="main-casino">
        <div class="container-fluid promotions px-lg-5 py-3 py-lg-4">
            <div class="row">
                {% for key, banner in data %}
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="promotions__box">
                            <div class="promotions__box__title b-primary py-2">
                                <h4 class="text-center m-0">{{ banner.name }}</h4>
                            </div>
                            <div class="promotions__box__image">
                                <img src="/wp-content/uploads/loader.gif" data-src="{{ banner.banner_link }}{{ banner.name_tablet }}" alt="{{ banner.name }}" class="w-100 img-fluid lazy">
                            </div>
                            {% set settings = {} %}
                            {% for item in banner.settings %}
                                {% set settings= settings|merge({ (item.setting_key):item.setting_value }) %}
                            {% endfor %}

                            <div class="promotions__box__desc b-accent p-3">
                                <h4 class="promotions__box__desc__title text-uppercase text-center">
                                    {{settings.title}}
                                </h4>
                                <p class="promotions__box__desc__text text-center">
                                    {{settings.description}}
                                </p>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#terms{{ key }}" class="btn btn-promotions text-uppercase mx-auto d-block">
                                    Learn More
                                </a>
                                <!--Terms Modal-->
                                <div class="modal fade" id="terms{{ key }}" tabindex="-1" aria-labelledby="terms" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header bg-warning">
                                                <h3>Terms and Conditions</h3>
                                                <button type="button" class="btn-close close-terms{{ key }}" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    {{settings.terms}}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="d-grid gap-2 col-6 mx-auto mt-2 mt-lg-3">
                                                    {% if(settings.promo_type == "deposit") %}
                                                        {#------------ START PROMO CODE ------------#}
                                                        {% if(settings.promo_code != "") %}
                                                            {% set promo_code = "&promo_code=" ~  settings.promo_code %}
                                                        {% endif %}
                                                        {#------------ END PROMO CODE ------------#}
                                                        <a href="#" class="btn btn-primary fw-bold p-2 p-lg-3 promotion-modal" type="button" data-bs-toggle="modal" data-bs-target="#login-modal"
                                                           rel="noopener noreferrer" data-redirect="?to=cashier{{promo_code}}" data-modal="close-terms{{ key }}">CLAIM NOW</a>
                                                    {% elseif( settings.promo_type == "raf") %}
                                                        <a href="#" class="btn btn-primary fw-bold p-2 p-lg-3 promotion-modal" type="button" data-bs-toggle="modal" data-bs-target="#login-modal"
                                                           rel="noopener noreferrer" data-redirect="?to=refer" data-modal="close-terms{{ key }}">CLAIM NOW</a>
                                                    {% elseif(settings.promo_type == "chat") %}
                                                        <a href="#" class="btn btn-primary fw-bold p-2 p-lg-3 promotion-modal" type="button" data-bs-toggle="modal" data-bs-target="#login-modal"
                                                           rel="noopener noreferrer" data-modal="close-terms{{ key }}">CLAIM NOW</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>